@font-face {
  font-family: Karla;
  src: url(./assets/fonts/static/Karla-Regular.ttf);
}

@font-face {
  font-family: KarlaBold;
  src: url(./assets/fonts/static/Karla-Bold.ttf);
}

:root {
  --dark: #464646;
  --light: #fff;
  --primary: #056400;
  --secondary: #7c8798;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(200deg, #d8ffd5 30%, #76ff6a 70%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Karla, sans-serif;
  overscroll-behavior: none;
}

h1 {
  font-family: karlaBold, sans-serif;
  color: var(--dark);
  text-align: center;
  font-size: 2.7rem;
}

form {
  width: 500px;
  height: max-content;
  margin: 3.5rem auto 0.5rem auto;
  padding: 2rem 0.7rem;
  background-color: var(--light);
  border-radius: 0.5em;
}

input,
textarea {
  padding: 0.5rem;
  margin: 0.2rem 0;
  border: var(--secondary) 1px solid;
  border-radius: 0.3em;
}

input:focus,
textarea:focus {
  outline: var(--primary) 1px solid;
}

textarea {
  width: 100%;
  resize: none;
}

strong {
  color: var(--primary);
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--primary);
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #032c00;
  color: var(--light);
  padding: 1rem;
  width: 360px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.thank-you i {
  font-size: 1.3rem;
  margin-right: 0.2rem;
}

.thank-you h3 {
  display: flex;
  font-family: karlaBold, sans-serif;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.thank-you p {
  font-size: 0.8rem;
}

.thank-you-name {
  color: var(--light);
}

.error {
  color: #970000;
}

.hidden {
  display: none;
}

.name-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.name {
  width: 49%;
}

.name input,
.email-sec input {
  width: 100%;
}

.email-sec {
  margin-bottom: 0.5rem;
}

.query-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.query-type {
  display: flex;
  justify-content: space-between;
}

.query-border {
  display: flex;
  align-items: center;
  border: var(--secondary) 1px solid;
  width: 49%;
  border-radius: 0.3em;
  padding: 0.3rem 0.7rem;
  margin: 0.2rem 0;
}

.query-border input {
  cursor: pointer;
}

.consent-sec {
  width: 100%;
}

.consent {
  display: flex;
  align-items: center;
}
.submit-btn {
  width: 100%;
  margin-top: 0.7rem;
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 0.3em;
  color: var(--light);
  font-size: 1rem;
  cursor: pointer;
}

.attribution {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark);
}

.attribution a {
  color: var(--dark);
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  body {
    overscroll-behavior: auto;
    background-color: #0273ab;
  }
  form {
    width: 90%;
  }

  .thank-you {
    width: 70%;
  }

  .name-sec {
    flex-direction: column;
  }

  .name-sec :last-child {
    margin-bottom: 0;
  }

  .name {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .query-type {
    flex-direction: column;
  }

  .query-border {
    width: 100%;
  }
}
